<div id="page-wrap">
  <div id="max-width-column">
    <app-marg-darshan></app-marg-darshan>
    <div id="content-wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- <nav>
  <a routerLink="/all">
    <img src="assets/0.png" class="icon" />
  </a>
  <a routerLink="/6bhk">
    <img src="assets/6.png" class="icon" />
  </a>
  <a routerLink="/5bhk">
    <img src="assets/5.png" class="icon" />
  </a>
  <a routerLink="/3bhk">
    <img src="assets/3.png" class="icon" />
  </a>
  <a routerLink="/2bhk">
    <img src="assets/2.png" class="icon" />
  </a>
  <a routerLink="/1bhk">
    <img src="assets/1.png" class="icon" />
  </a>
</nav>
  <section>
  <header class="description">
    <h1>Buy and sell Flat</h1>
    <p class="description">Keeping track of the flats I am interested to buy.</p>
  </header>
  <div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login with Google</h2>
    <div *ngIf="isLoggedin === false">
      <div>
        <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
      </div>
    </div>
    <div *ngIf="isLoggedin === true">
      
               <label>You are logged in as: </label> <label [textContent]="displayName"></label>
               <br /> 
        <label>Your email ID is </label> <label [textContent]="userInfo?.email"></label>
    <br/>
    <img [src]="userInfo?.photoURL"/> 
      <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
  </div>
  <router-outlet *ngIf="isLoggedin===true"></router-outlet>
  <router-outlet></router-outlet>
</section> -->

